params {
    help = false
    version = false
    outdir = "BASIL_out"
    r1 = null
    r2 = null
    reads_tsv = null
    reads_dir = null
    dir_depth = 1
    pe_quality_fail_rate = 40
    pe_min_length = 50
    pe_base_depth = 15
    pe_no_correction = true
    pe_extra_opt = ""
    min_genome_cov = 20
    max_genome_cov = 150
    min_contig_cov = 2
    min_contig_length = 300
    asm_used = "contigs"
    genome_size = null
    parallel_run = 1
    cpus = 8
    ram = 16
    skip_polish = false
    only_filtered = false
    only_polished = false
    checkm2_db = null
    kraken2_db = null
    gtdbtk_db = null
    abritamr_opt = null
    abricate_opt = null
    kmer_size = 21
    kmer_min_count = 10
    genome_size_max = 10000000
    genome_size_min = 600000
    genome_size_fallback = 4500000
    warn_assembly_cov = 40.0
    quast_min_contig = 0
    pol_mindepth = 0.25
    pol_minmq = 60
    pol_minqual = 3
    pol_mingap = 10
    pol_bwa_K = 100000000
    pol_bwa_B = 4
    pol_bwa_L = 20
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
    fields    = 'task_id,name,tag,status,exit,duration,realtime,%cpu,rss,vmem,rchar,wchar,workdir'
}

workDir = "${params.outdir}/work"

env {
    FONTCONFIG_PATH = '/tmp/fontconfig'
    XDG_CACHE_HOME  = '/tmp/cache'
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "${System.getProperty('user.home')}/apptainer_cache"
    runOptions = '--bind /srv:/srv,/home:/home'
    pullTimeout = '2h'
}

process {
    maxForks = params.parallel_run
    cpus = params.cpus
    memory = "${params.ram} GB"
    container = 'library://samrachhan/default/basil:sha256.4d306fb39b9272a8b4202fb05b5c97804b900d01cb0551128986e45555c6dda9'

    withLabel: 'pe_qc|polish|filter' {
        conda = "${projectDir}/envs/polish_reads_tools.yml"
    }
    withLabel: 'assembly|assembly_QC' {
        conda = "${projectDir}/envs/assembly_QC.yml"
    }
    withLabel: 'read_qc_report|assembly_report|gtdbtk|kraken2_filtered|kraken2_polished|kraken2_reads' {
        conda = "${projectDir}/envs/taxo_tools.yml"
    }
    withLabel: 'abritamr|abricate' {
        conda = "${projectDir}/envs/amr_tools.yml"
    }
    withLabel: 'main_report' {
        conda = "${projectDir}/envs/multiqc.yml"
    }
}

profiles {
    singularity {
        apptainer.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.pullTimeout = '2h'
        singularity.cacheDir = "${System.getProperty('user.home')}/apptainer_cache"
        singularity.runOptions = '--bind /srv:/srv,/home:/home'
        process.container = 'library://samrachhan/default/basil:sha256.4d306fb39b9272a8b4202fb05b5c97804b900d01cb0551128986e45555c6dda9'
    }

    docker {
        apptainer.enabled = false
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) -v /srv:/srv -v /home:/home'
        process.container = 'samrachhan/basil:v1.0@sha256:c4f3d5d7f3147c58fcf3e0afd261c1b1915ae982fddd9dd4b453b91fbdd0730b'
    }
    mamba {
        apptainer.enabled = false
        conda.enabled = true
        conda.useMamba = true
        conda.cacheDir = "${System.getProperty('user.home')}/mamba_cache"
        process.container = null
    }
}