includeConfig "${projectDir}/dev/constants.config"

params {
    meta_merge = null
    help = false
    version = false
    outdir = "BASIL_out"
    r1 = null
    r2 = null
    reads_tsv = null
    reads_dir = null
    contigs_dir = null
    dir_depth = 1
    pe_quality_fail_rate = 40
    pe_min_length = 50
    pe_base_depth = 20
    pe_no_correction = true
    pe_extra_opt = ""
    min_genome_cov = 20
    max_genome_cov = 150
    min_contig_cov = 2
    min_contig_length = 300
    asm_used = "contigs"
    genome_size = null
    parallel_run = 1
    cpus = 8
    ram = 16
    skip_polish = false
    only_filtered = false
    only_polished = false
    clear_saved_db = null
    checkm2_db = null
    kraken2_db = null
    gtdbtk_db = null
    minid_genes = 90
    mincov_genes = 90
    mutation = null
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
    fields    = 'task_id,name,tag,status,exit,duration,realtime,%cpu,rss,vmem,rchar,wchar,workdir'
}

workDir = "${params.outdir}/work"

env {
    FONTCONFIG_PATH = '/tmp/fontconfig'
    XDG_CACHE_HOME  = '/tmp/cache'
}

conda {
    enabled  = true
    cacheDir = "${System.getProperty('user.home')}/.basil"
}

process {
    maxForks = params.parallel_run
    cpus = params.cpus
    memory = "${params.ram} GB"

    withLabel: 'pe_qc|polish|filter' {
        conda = "${projectDir}/envs/polish_reads_tools.yml"
    }
    withLabel: 'assembly|assembly_QC' {
        conda = "${projectDir}/envs/assembly_QC.yml"
    }
    withLabel: 'read_qc_report|assembly_report|gtdbtk|kraken2_filtered|kraken2_polished|kraken2_reads|kraken2_contigs_dir|format_convert' {
        conda = "${projectDir}/envs/taxo_tools.yml"
    }
    withLabel: 'abritamr|abricate|amr_consensus|meta_merge' {
        conda = "${projectDir}/envs/amr_tools.yml"
    }
    withLabel: 'main_report' {
        conda = "${projectDir}/envs/multiqc.yml"
    }
}

profiles {
    singularity {
        conda.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.pullTimeout = '2h'
        singularity.cacheDir = "${System.getProperty('user.home')}/.basil"
        singularity.runOptions = '--bind /srv:/srv,/home:/home'
        process.container = 'library://samrachhan/default/basil:sha256.66a4bf205a8e07d67b083ebc675ecb78f9d8e9c553ddc823f301a30d4aba079f'
    }

    docker {
        conda.enabled = false
        docker.enabled = true
        docker.runOptions = '-v /srv:/srv -v /home:/home'
        process.container = 'samrachhan/basil@sha256:08972434dcc243bdd72febd9efa60733ee33790e9b296e9c883faac643fe242e'
    }

    apptainer {
        conda.enabled = false
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${System.getProperty('user.home')}/.basil"
        apptainer.runOptions = '--bind /srv:/srv,/home:/home'
        process.container = 'library://samrachhan/default/basil:sha256.66a4bf205a8e07d67b083ebc675ecb78f9d8e9c553ddc823f301a30d4aba079f'
        apptainer.pullTimeout = '2h'
    }
}
