params.constants = [
    kmer_size: kmer_size,
    kmer_min_count: kmer_min_count,
    genome_size_max: genome_size_max,
    genome_size_min: genome_size_min,
    genome_size_fallback: genome_size_fallback,
    warn_assembly_cov: warn_assembly_cov,
    quast_min_contig: quast_min_contig,
    pol_mindepth: pol_mindepth,
    pol_minmq: pol_minmq,
    pol_minqual: pol_minqual,
    pol_mingap: pol_mingap,
    pol_bwa_K: pol_bwa_K,
    pol_bwa_B: pol_bwa_B,
    pol_bwa_L: pol_bwa_L
]
