params.constants = [
    kmer_size: 21,
    kmer_min_count: 10,
    genome_size_max: 10000000,
    genome_size_min: 600000,
    genome_size_fallback: 4500000,
    warn_assembly_cov: 40.0,
    quast_min_contig: 0,
    pol_mindepth: 0.25,
    pol_minmq: 60,
    pol_minqual: 3,
    pol_mingap: 10,
    pol_bwa_K: 100000000,
    pol_bwa_B: 4,
    pol_bwa_L: 20
]
